{% extends 'base.html' %}

{% block titulo %} Ventas por pais {% endblock %}

{% block contenido %}
    <h1>Ventas en {{region_nm}}, desglosados por país <a class='button button-primary' href="/">Atrás</a></h1>
    <table class="u-full-width">
        <tr>
            <th>Pais</th>
            <th>Ventas</th>
            <th>Beneficios</th>
        </tr>
        {% for pais, data in ventas.items() %}
        <tr>
            <td class="pais">{{ pais }}</td>
            <td class="numero">{{ data.ingresos }}</td>
            <td class="numero">{{ data.beneficios }}</td>
        </tr>
        {% endfor %}
    </table>   
    
{% endblock %}