{% extends 'base.html' %}

{% block titulo %} Ventas por region {% endblock %}

{% block contenido %}
    <h1>Ventas por region</h1>
    <table class="u-full-width">
        <tr>
            <th>Region</th>
            <th>Ventas</th>
            <th>Beneficios</th>
        </tr>
        {% for region, data in ventas.items() %}
        <tr>
            <td class="region"><a href="/paises?region={{ region }}">{{ region }}</a></td>
            <td class="numero">{{ data.ingresos | round(2, 'floor') }} €</td>
            <td class="numero">{{ data.beneficios | round(2, 'floor') }} €</td>
        </tr>
        {% endfor %}
    </table>    
{% endblock %}